---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import "../styles/global.css";
import '@fontsource/lxgw-wenkai-tc';
---
<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="utf-8">
        <title>wode BLog </title>
    <body>

        <Header />
        <h1>wode BLog </h1>
        <Footer />
    </body>
</html>