---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
const pageTitle = "首页";
import '@fontsource/lxgw-wenkai-tc';
---
<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome blog subtitle</h2>
  <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
  <p>AstroPaper 是一个简约、响应式、可访问且对搜索引擎优化友好的 Astro 博客主题。该主题遵循最佳实践，
    开箱即用即可提供可访问性。 默认支持浅色和深色模式。此外，还可以配置其他配色方案。 AstroPaper is 
    a minimal responsive, accessible and SEO-friendly Astro blog theme. This theme follows best practices and provides 
     accessibility out of the box. Light and dark mode are supported by default. Moreover, additional color schemes 
     can also be configured.

    Read the blog posts or check README for more info.
  </p>
    

</BaseLayout>