---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import "../styles/global.css";
import '@fontsource/lxgw-wenkai-tc';
---

<html lang="zh-cn">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Header />

		<h1>Hello, world!</h1>
		<h1>Astro</h1>
		<h1>欢迎来到我的Blog</h1>
		<Footer />

		<script>
		  document.querySelector('.hamburger').addEventListener('click', () => {
			document.querySelector('.nav-links').classList.toggle('expanded');
		  });
		</script>
	  
	</body>
</html>
