---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "首页";
import '@fontsource/lxgw-wenkai-tc';
---
<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome blog subtitle</h2>
  <a href="/posts/post-1">文章1</a>
</BaseLayout>